body{
    margin: 0;
    padding: 0;
}

.nav-container{
    height:70px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:  "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}

.ul1 {

list-style-type: none;
display:flex;
justify-content:space-evenly;

gap:20px
}

.ul2 {
padding-right: 10px;

list-style-type: none;
display:flex;
justify-content:center;
gap: 30px;
}

.nav-container img{
    width:90px;
    height:70px;
}

ul a{
    padding:5px;
    border-radius: 2px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.744);
    transition: 
    background-color 0.2s ease,
    color 0.2s ease;
 
}
ul a:hover{
    text-decoration: none;
   background-color: rgba(84, 92, 236, 0.803);
   color: aliceblue;
}

.login-li a{
       border:1px solid rgba(84, 92, 236, 0.803);
    
}

li {
   display: flex;
   justify-content: center;
   align-items: center;
color: rgba(0, 0, 0, 0.744);
}

.reg-li a{
  background-color: rgba(84, 92, 236, 0.803);
  color:aliceblue;

}
.reg-li a:hover{
  background-color: rgba(253, 253, 253, 0.803);
  color: rgba(0, 0, 0, 0.744);
}


.admin-li a:hover{
    background-color: crimson;
    color: rgb(251, 249, 249);

}
